
<%- include('../includes/head.ejs') %>
<title><%= title %></title>

<link rel="stylesheet" type="text/css" href="styles/auth/signup.css">



</head>
<body>

<div class="super_container">

	<!-- Header -->
    <%- include('../includes/navigation.ejs') %>
    <div class="home home_background_container-signup ">
		<div class="home_background_container prlx_parent  ">
			<div class="home_background prlx" style="background-image:url(images/courses_background.jpg)"></div>
		</div>
		<div class="home_content home_content-signup ">
			<h1>LOGIN</h1>
            <% if (error_msg) { %>
                <div style="color: red"><%= error_msg %></div>
              <% } %>
		</div>
	</div>


	
    <div class="form-container">
        <h2 class="bb">Login</h2>
        <form action="/login" method="POST">
                         
          <input type="email" name="email" placeholder="Email Address" required>
          
          <input type="password" name="password" placeholder="Password" required>

          <button type="submit" class="login-button">Login</button>
          
          <p>Create new account <a href="/signup">Signup</a></p>
        </form>
      </div>


	

	<!-- footer -->
<%- include('../includes/footer.ejs') %>
	
</div>


<script src="js/jquery-3.2.1.min.js"></script>
<script src="styles/bootstrap4/popper.js"></script>
<script src="styles/bootstrap4/bootstrap.min.js"></script>
<script src="plugins/greensock/TweenMax.min.js"></script>
<script src="plugins/greensock/TimelineMax.min.js"></script>
<script src="plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="plugins/greensock/animation.gsap.min.js"></script>
<script src="plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="plugins/scrollTo/jquery.scrollTo.min.js"></script>
<script src="plugins/easing/easing.js"></script>
<script src="js/custom.js"></script>

</body>
</html>